<div class="container">
  <h1>Shorten your Url Here!</h1>
  <form>
    <div class="form-group row">

      <div class="col-md-6 offset-md-3" action="/">
        <input class="form-control" type="text" placeholder="Name" name="name-input">
      </div>
    </div>
   
    <div class="form-group row">
      <div class="col-md-6 offset-md-3">
        <input class="form-control" type="url" placeholder="Enter the url" name="given_link">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 offset-md-3">
        <button type="submit" class="form-control btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <h4>
  <%if @message%>
    <%= @message %>
  <%elsif @link%>
    Shortened link for <%=@link.given_link%> is <a href=<%=@link.shortened_link%>><%=@link.shortened_link%></a>  
  <%else%>
    Enter a link to shorten it
  <% end %>
  </h4>

</div>

